<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>+95 Myanmar</string>
	<string>+66 Thailand</string>
	<string>+65 Singapore</string>
	<string>+60 Malaysia</string>
	<string>+82 South Korea</string>
	<string>+81 Japan</string>
	<string>+1 United States</string>
	<string>+91 India</string>
	<string>+84 Vietnam</string>
</array>
</plist>
