<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>biipSMiLES.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4EE030DF52DFDBD30FE8AC0CC993EA544D314797</string>
				<key>dateExpires</key>
				<string>21/09/1940 Saka</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B57PF3L3YX.com.biipbyte.biipsmiles</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B57PF3L3YX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>biipSMiLES.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b1446d7a-d685-429f-a63e-313384a6dca3</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.biipbyte.biipsmiles</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B57PF3L3YX</string>
				<key>name</key>
				<string>Anderson Tan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
